/***************
    Basic setup
 ***************/

 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #FCFDFF;
    box-sizing: border-box;
    /* overflow: hidden; */
}
ul{
   
}
li{
    list-style: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
   
}

a{
    Text-decoration:none;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width:1400px;   
    margin:auto;
    overflow: hidden;
    /* border: 2px solid blue; */
}

/*************
 Header section 
 ************/
 .hdr-sec{  
        /* border:1px solid black; */
       /* background:grey; */
      
 }   
.hdr{
    /* border:1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: relative;
    
}
.logo img{
    /* border:1px solid green; */
    width:100px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    margin-left: 66px;
}

.hdr .nav{
    /* border: 1px solid orange;   */
    
}
ul {
    width: 100%;
}
.hdr .nav li{
    padding: 30px 21px;
    font-weight: 500;
    font-size: 16px;
}
.hdr .nav li a{
    transition: all 0.3s ease 0s;
    color:#0c0000;
    
}
.hdr .nav li a:hover{
    color:gray;
}

.toggle-button{
    position:absolute;
    top:.75rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}
.toggle-button .bar{
    height:3px;
    width:100%;
    background: #000;
    border-radius: 10px;
}

/*************
 Hero section 
 ************/
.hero{
    /* height:500px; */
    display: flex;
    justify-content: center;
    align-items: center;
   /* border:1px solid blue; */
    /* margin-bottom: 20px; */
}
.hero .img-lt img{
    /* width:600px; */
    height: 500px;
    margin-left: -200px;
    /* margin-bottom: -30px; */
    /* border:1px solid blue; */
}

.desc-rt{
    /* border:1px solid green; */
    /* height:auto; */
    /* background:#FFFFFF; */
    width:60%;
    margin-left: 100px;   
}

.desc-txt{
    margin-bottom: 60px;   
}
.desc-txt h1{
    font-weight: 900;
    font-size: 46px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    color:#333333;
}

.sub-txt{
    margin-bottom: 60px;
}

.sub-txt p{
    border:1px solid grey;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.4; 
    padding: 20px; 
    font-family: 'Roboto', sans-serif; 
    background:#f6f6f6;
}
.sub-txt span{
    font-weight: 600;
    font-size: 14px;
    
   
}
.email-div{
    box-shadow: 1px 2px 4px;  
    margin-top: 30px; 
    /* border:1px solid blue;   */
    /* height:100px; */
    width: 100%;
   
}

/* .email-btm{
    border:1px solid black;
    margin-bottom:20px;
} */
 form.getsin input[type="text"]{
    flex-grow: 1;
    padding: 20px 43px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
   
}
form.getsin button{
    float: left;
    width: 40%;
    padding: 10px;
    background: linear-gradient(135deg,#ff5879 0%,#ff531d 100%);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 62px;
    
}

form.getsin button:hover {
    background: orangered;
  }

form.getsin::after {
    content: "";
    clear: both;
    display: table;
  }
/************* 
 Content section 
 ************/
 /* .cont{
    
 }

 .content{
    background: #22262F; 
     height: 500px;
 }
 .content h1{
     text-align: center;
     margin-top: 20px;
    
 } */

/************* 
 Service section 
 ************/
    .serv-sec{
        /* height: 500px; */
        border:1px solid transparent;
        background: linear-gradient(135deg, #3c33b2 0%,#222 100%);
        /* background: linear-gradient(135deg, #9D50BB 0%,#6E48AA 100%); */
        /* margin-top: -1001px; */
        
            margin-top: -10px;
            
    }

    .serv-row{  
        /* border:1px solid blue; */
        height: auto;
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        margin-bottom: 90px;
    }

        .serv-sec h1{
            text-align: center;
            margin-top: 45px;
            font-family: 'Roboto', sans-serif;
            color:rgb(224, 102, 102);
            font-size: 50px;
            margin-bottom: 20px;
           
            
        }
        .serv-sec p{
            text-align: center;
            margin-top: 70px;
            font-family: 'Roboto', sans-serif;
            color:rgb(102, 102, 240);
            line-height: 2rem;
            font-size: 20px;
            font-weight: 500;
            max-width: 900px;
            margin: auto;
        }
        
    .col{
        border:1px solid grey;
        width:400px;
        /* height:300px; */
        box-shadow: 0px 12px 18px -18px rgba(0,0,0,0.3);
        background: white;
        border-radius: 10px;
    }
    .col span img{
        width:30px;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }

    .col h3{
        color:rgb(33, 106, 119);
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        font-weight: 700;
        padding-left:50px;
        margin-top: 20px;
    }
    .col p{
        color:#565656;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-top: 6px;
        padding-left: 50px;
        margin-bottom: 15px;
    }


 /************* 
 About section 
 ************/
.abt{
    height: auto;
    /* border:1px solid blue;   */
    /* margin-top: 71px; */
}

.abt-sec{
      /* border:1px solid orange; */
      width:100%;
}
.abt-sec h1{
  text-align: center;  
  /* border:1px solid green; */
  margin-top: 30px;
  font-family: 'Roboto', sans-serif; 
  word-spacing: -3px;
  letter-spacing: 2px;
  font-size: 45px;
  color: #565656;
  font-weight: 600;
}
.abt-cont{
    display: flex;
    /* border:1px solid black; */
}

.abt-txt{
    /* max-width: 800px; */
    /* border: 1px solid purple; */
    height:300px;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    flex-basis: 50%;
}
.abt-txt h2{
    color:#565656;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.abt-txt p{
    text-align: text;
    color:#4d4949;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    line-height: 1em;
    font-weight: 400;   
}

.abt-txt button{
    color: #565656!important;
    letter-spacing: 1px;
    text-transform: uppercase!important;
    font-size: 30px;
    font-weight: 500;
    padding: 0.3em 1em;
    line-height: 1.7em !important;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 3px solid  #565656 ;
    border-radius: 3px;
    margin-top: 20px;
}
.abt-img{
    position: relative;
}
.abt-img img{
    width:500px;
    height: 500px;
    position: absolute;
    top:0;
    left:10px;
    margin-right: 30px;
    
}
.tri {
    
    width: 585px;
    height:500px;
    background: linear-gradient(135deg, #3c33b2 0%,#222 100%);
    clip-path: polygon(100% 100%,0% 100%, 100% 0%);
  }



 /************* 
 Footer section 
 ************/
 .ftr-drk{
    background: #121212;
    /* padding: 100px 0 30px; */
    position: relative;  
    border: 1px solid orange;
}
.ftr-cont{
   border:1px solid transparent;
   /* margin-top: 20px; */
  display: flex;
  justify-content: space-between;
}

.ftr-col3{    
    margin-top: 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
}


.col3-ftr{
    width: 350px;
    /* height: 400px; */
    /* margin: auto;  */
}

.col3-ftr .dtls{
    margin-left: -57px;
    /* width: 100%; */
}


.col3-ftr p{
    color:white;
    margin-top: 12px;
    text-align: left;
    padding-left: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.ftr-col3 .col-wrap{
   
    width:700px;
   display: flex;
   justify-content: space-around;
   /* border: 1px solid white; */
   /* margin-left: 130px; */
}
.ftr-col3 .one {
    /* margin-left:80px; */
    width: 240px;
    /* border: 1px solid blue; */
}

.ftr-col3 .two{
    /* margin-right: -95px; */
    width: 200px;
    /* border: 1px solid green; */
    
}
/* .col3-ftr .ftr-para{
    line-height: 20px;
    letter-spacing: 2px;
    color:white;
    font-size: 16px;
    width:300px;
    text-align: justify;
    padding-left: 30px;   
} */
/* .ftr-para i {
    float:left;
    width:30px;
    
} */
.cont-line{
    float:left;
    /* margin-bottom: 5px; */
}
.cont-icon{
    float: left;
    width: 40px;
    height: 40px;
    /* background: #664a3f; */
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
}
.cont-icon i {
    color:white; 
}
.cont-des {
    width: calc(100% - 50px);
    float: left;
    padding-left: 15px;
    margin-top: -5px;
    margin-bottom: 20px;
}
.cont-des p{
    width:250px;
}

.col3-ftr img{
    width: 50px;
    margin-left: -60px;
    text-align: center;
    /* margin-top: 20px; */
    display: inline;
}


.col3-ftr h2{
    color:white;
    text-align: left;     
    width:320px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;

}
.col3-ftr .social-lnk {
    height:400px;
    width:400px;
    background:-webkit-gradient(linear, 50% 20%, 80% 21%, from(#080D0B), to(#2F2F2F));
    margin-right: 20px;
    border-radius: 10px;
}


.social-lnk{
    margin-bottom: 20px;
}
.social-lnk .lnk-grp{
 margin-top: 10px;
 /* margin: auto; */
}

.social-lnk .lnk{
    height: 60px;
    margin-top: 16px;
    width: 350px;
    margin-left: 25px;
    color:white;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: none;  
}

.social-lnk .lnk i{
font-size: 30px;
margin-right: 15px;

}
.col3-ftr.active{
    margin-right: 50px;
}

.social-lnk .head h3{
    text-align: center;
    /* border: 1px solid orange; */
    color:white;
    height: 70px;
    line-height: 70px;
    margin: auto;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    
}
.lnk-grp .lnk:nth-child(1){
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
 }
.lnk-grp :nth-child(2){
    background:#B50000;
}

 .lnk-grp :nth-child(3){
    background:#4267B2;
    
 }
 .lnk-grp :nth-child(4){
    background:#1DA1F2;
 }

.ftr-col3 .sol{
    margin-top: 10px;
}

.footer-base{
    height:70px;
    width:100%;
    background: #000;
    /* padding: 20px 0; */
    line-height: 70px;
}

.end-ftr{
    border:1px solid transparent;
}
.footer-base .end-ftr{
    color:white;
    text-align: center;  
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;    
    margin: auto;
    /* height: 100px;    */
}
.end-ftr p span{
    color:white; 
}

.cntr-txt p{
   
    /* margin: 0 20px; */
    
}



